<div id="transaction">
  <div id="add-transaction">
      <span>
        <input class="txn-input" type="text" #from id="from" name="from" placeholder="from">
        <input class="txn-input" type="text" #to id="to" name="to" placeholder="to">
        <input class="txn-input" type="text" #amount id="amount" name="amount" placeholder="amount">
        <input class="txn-input" type="text" #date id="" name="date" placeholder="YYYY-MM-DD">

        <button (click)="addTransaction(to.value, from.value, amount.value, date.value)" class="txn-button">
          Add
        </button>
      </span>
  </div>


  <!-- Display transactions for a user -->
  <div class="transactions">
    <!-- headers -->
    <div id="txn-header">
      <div class="header-field">
        To
      </div>
      <div class="header-field">
        From
      </div>
      <div class="header-field">
        Value
      </div>
    </div>

    <!-- list of transactions -->
    <div *ngFor="let txn of transactions | async" class="transaction-item">
      <div class="txn-item" >
        {{txn.payment_from}}
      </div>
      <div class="txn-item">
        {{txn.payment_to}}
      </div>
      <div class="txn-item">
        {{txn.value}}
      </div>
    </div>
  </div>
</div>
