<div id="groups-container">
  <!-- Header -->
  <div id="groups-header">
    <i id="new-grp-icon" (click)="routeNewGroup()" class="material-icons md-dark md-new-grp">
      add_circle
    </i>
    <div class="header-field">
      #
    </div>
    <div class="header-field">
      Group
    </div>
    <div class="header-field">
      Admin
    </div>
  </div>
  <!-- list of groups -->
  <div  *ngFor="let g of groups| async; let i = index">
    <div class="group-row" (click)="routeGroup(g.group_name)">
      <div class="row-field" >
        {{i+1 + "."}}
      </div>
      <div class="row-field">
        {{g.group_name}}
      </div>
      <div class="row-field">
        {{g.admin_username}}
      </div>
    </div>
  </div>
</div>


