<div id="groups-container">

  <!-- New group button -->
  <div id="new-grp">
    <span class="row-field" style="padding: 0 20px 0 0; margin: 0">
      New group
    </span>
    <i id="new-grp-icon" class="material-icons md-dark md-48">
      add_circle
    </i>
  </div>

  <!-- Display list of groups -->
  <div id="groups-header">
    <div class="header-field">
      #
    </div>
    <div class="header-field">
      Group
    </div>
    <div class="header-field">
      Admin
    </div>
  </div>

  <div class="group-row" *ngFor="let g of groups; let i = index">
    <div class="row-field" style="border: none; padding: 10px 0 10px 0; margin: 0 20px 0 20px">
      {{i+1 + "."}}
    </div>
    <div class="row-field">
      {{g.group_name}}
    </div>
    <div class="row-field">
      {{g.admin_username}}
    </div>
  </div>

</div>


