<br>
<br>
<div class="card-login">
  <div class="title">
      Register
  </div>
  <br>
  <div class="field">
      <div class="input-title">
          Username
      </div>
      <form>
        <input class="input" type="text" #username id="username" name="username">
      </form>    
  </div>
  <div class="field">
      <div class="input-title">
          Password
      </div>
      <form>
          <input class="input" type="text" #password id="password" name="password">
      </form>
  </div>
  <div class="field">
    <div class="input-title">
        First Name
    </div>
    <form>
        <input class="input" type="text" #firstname id="firstname" name="firstname">
    </form>
  </div>
  <div class="field">
    <div class="input-title">
        Last Name
    </div>
    <form>
        <input class="input" type="text" #lastname id="lastname" name="lastname">
    </form>
  </div>
  <div class="field">
    <div class="input-title">
        E-Mail ID
    </div>
    <form>
        <input class="input" type="text" #email id="email" name="email">
    </form>
  </div>
  <div class="field">
    <div class="input-title">
        Bitcoin
    </div>
    <form>
        <input class="input" type="text" #bitcoin id="bitcoin" name="bitcoin">
    </form>
  </div>
  <div class="field">
    <div class="input-title">
        Ether
    </div>
    <form>
        <input class="input" type="text" #ether id="ether" name="ether">
    </form>
  </div>
</div>
<br>
<br>
<div class="wrapper">
  <button class="register-button" 
    (click)="registerDetails(username.value, password.value, firstname.value, lastname.value, email.value, bitcoin.value, ether.value)" 
    id="register">
      Sign In
  </button>
</div>