<div id="group-container">
  <!-- Display transaction in a group -->
  <div id="group-transactions">
    <div *ngFor="let txn of groupTransactions" class="group-transaction-item">
      <span class="group-txn-item">
        {{txn.from}}
      </span>
      =>
      <span class="group-txn-item">
        {{txn.to}}
      </span>
      =
      <span class="group-txn-item">
        {{txn.value}}
      </span>
    </div>
  </div>

  <!-- Add and resolve transaction-->
  <div id="add-transaction">
    <span>
      <input class="group-input" type="text" #from id="from" name="from" placeholder="from">
      <input class="group-input" type="text" #to id="to" name="to" placeholder="to">
      <input class="group-input" type="text" #amount id="amount" name="amount" placeholder="amount">
      <input class="group-input" type="text" #date id="" name="date" placeholder="YYYY-MM-DD">

      <button (click)="addGroupTransaction(to.value, from.value, amount.value, date.value)" class="group-button">
        Add
      </button>
    </span>
    <span>
      <button *ngIf="isAdmin" class="group-button" style="background-color: #4CAF50; font-size: 18px; margin-top: 6px">
        Resolve
      </button>
    </span>
  </div>
</div>
