<div id="group-container" *ngIf="!resolved">
  <!-- Add and resolve transaction-->
  <div id="add-transaction">
    <span>
      <input class="group-input" type="text" #from id="from" name="from" placeholder="from">
      <input class="group-input" type="text" #to id="to" name="to" placeholder="to">
      <input class="group-input" type="text" #amount id="amount" name="amount" placeholder="amount">
      <input class="group-input" type="text" #date id="" name="date" placeholder="YYYY-MM-DD">

      <button (click)="addGroupTransaction(to.value, from.value, amount.value, date.value)" class="group-button">
        Add
      </button>
    </span>
    <span>
      <button (click)="resolveTransactions()" *ngIf="isAdmin" class="group-button" style="background-color: #4CAF50; font-size: 18px; margin-top: 6px">
        Resolve
      </button>
    </span>
  </div>

  <!-- Display transaction in a group -->
  <div class="group-transactions">
    <div style="margin: 20px; padding: 10px">
      <span class="username-pills" *ngFor="let user of users | async">{{user.username}}</span>
    </div>
    <div *ngFor="let txn of groupTransactions | async" class="group-transaction-item">
      <span class="group-txn-item">
        {{txn.payment_from}}
      </span>
      =>
      <span class="group-txn-item">
        {{txn.payment_to}}
      </span>
      =
      <span class="group-txn-item">
        {{txn.value}}
      </span>
    </div>
  </div>
</div>


<div *ngIf="resolved">
  <div class="group-transactions">
    <h2>Resolved Transactions are: </h2>
    <div *ngFor="let txn of resolvedTransactions" class="group-transaction-item">
      <span class="group-txn-item">
        {{txn.from}}
      </span>
      =>
      <span class="group-txn-item">
        {{txn.to}}
      </span>
      =
      <span class="group-txn-item">
        {{txn.value}}
      </span>
    </div>
    <h3>Please Resolve them among the group</h3>
  </div>
</div>
