<div id="nav" *ngIf="auth.loggedIn()">
    <div class="nav-pills" (click)="routeDashboard()">
      <img src="../assets/btcq.png" width="30px" height="30px"><b>Crypto Watch</b>
    </div>
    <div class="nav-pills">
      <div style="padding-right: 10px; font-size: 20px">
        {{username}}
      </div>
      <!--<div style="display: flex; align-items: center">-->
        <!--<img src="../assets/bitcoin.png" width="40px" height="40px">-->
      <!--</div>-->
      <div (click)="drop = !drop;" style="display: flex; align-items: center; flex-direction: column">
        <i class="material-icons">
          arrow_drop_down
        </i>
        <div *ngIf="drop" class="dropdown-option">
          <span (click)="logout()" style="padding: 20px">Logout</span>
        </div>
      </div>
    </div>
</div>


<router-outlet></router-outlet>

<div id="snackbar"></div>
