<br>
<br>
<div class="card-login">
  <div class="title">
      Login
  </div>
  <br>
  <div class="field">
      <div class="input-title">
          Username
      </div>
      <form>
        <input class="input" type="text" #username id="username" name="username">
      </form>    
  </div>
  <div class="field">
      <div class="input-title">
          Password
      </div>
      <form>
          <input class="input" type="text" #password id="password" name="password">
      </form>
  </div>
</div>
<br>
<br>
<div class="wrapper">
  <button class="login-button" (click)="login(username.value, password.value)" id="signin">
      Sign In
  </button>
</div>